/* Content container */
.login-page {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: url("../../resources/login/login-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.login-page__outer-content-container {
  display: grid;
  height: 100%;
  width: 100%;
  place-content: center;
}
.login-page__content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
  max-width: 45vw;
  padding: 12px;
}
.login-page__content-container #cta-logo-one {
  width: 90%;
  margin-bottom: 12px;
}
.login-page__content-container #content-container__btn {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--btn-background-color-1);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  width: 100%;
}
.login-page__content-container #content-container__btn:hover {
  background-color: var(--btn-background-color-1-light);
}
.content-container__description {
  font-size: 12px;
  text-align: center;
  line-height: 1.5;
  color: var(--text-color-1);
  letter-spacing: 1.5px;
  margin-bottom: 16px;
}

.login-page__content-container #cta-logo-two {
  width: 90%;
}
