*,
::after,
::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root {
  --background-color-1: #040714;

  --btn-background-color-1: #0063e5;
  --btn-background-color-1-light: #0483ee;

  --text-color-1: hsla(0, 0%. 93.3%, 1);
}
html {
  scroll-behavior: smooth;
}

body {
  color: #f9f9f9;
  font-family: Avenir-Roman, sans-serif;
}

/* media queries */

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 480px) and (max-width: 786px) {
  body {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}
