*,
::after,
::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #040714;
  color: #f9f9f9;

  font-family: Avenir-Roman, sans-serif;
}

/* media queries */

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 480px) and (max-width: 786px) {
  body {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}
